---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
import './Styles.css';
---

<html lang="en">
  <head>
    <BaseHead />
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-4YG936YT64">
    </script>

    <script type="text/partytown">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            window.dataLayer.push(arguments);
        }
        gtag("js", new Date());
      gtag('config', 'G-4YG936YT64');
    </script>
  </head>

  <body class="bg-smoke">
    <Navigation />
    <slot />
    <Footer />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </body>
</html>
