<footer>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-xs text-zinc-600">
        © 2023 Bolna. All rights reserved
      </p>
      <a
        class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-zinc-600 transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage"
        href="/#process"
        ><span class="relative z-10">Terms of use</span>
      </a>

      <a
        class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-zinc-600 transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage"
        href="/#benefits"
        ><span class="relative z-10">Responsible disclosure</span>
      </a>
      <a
        class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-zinc-600 transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage"
        href="/#pricing"
        ><span class="relative z-10">Privacy policy</span>
      </a>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-600 lg:col-span-2">
          This website was built with Astro &amp; Tailwind.
        </p>
      </div>
    </section>
  </div>
</footer>
